@import "tailwindcss";

:root {
  --background: #fce8c5;
  --foreground: #4a3000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
}

/* // TODO: Add dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #4a3000;
    --foreground: #fce8c5;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
